/*===================================================

$base

===================================================*/

/*------------------------

google icon-font

------------------------*/

// Material iconsを利用する

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* 推奨サイズ */
  display: inline-block;
  width: 1em;
  height: 1em;
  line-height: 1;
  text-transform: none;

  // WebKitブラウザサポート
  -webkit-font-smoothing: antialiased;

  // Chrome、Safariサポート
  text-rendering: optimizeLegibility;

  // Firefoxサポート
  -moz-osx-font-smoothing: grayscale;

  // IEサポート
  font-feature-settings: 'liga';
}

/*------------------------

変数の定義

------------------------*/

$base-font-size: 14px;
$base-color: #1d1d1d;
$theme-color: #42455e;
$small-fonts-size: 10px;
$img-dir: "../images/";
$bk-color-1: #e6e6e6;
$bk-color-2: #101010;
$font-base-speace: 0.1em;

/*------------------------

$helper

------------------------*/

//ループ

//＠if

// fontsize を　12から40まで
// for文
// .fs10{font-size: 10px;}　〜　.fs40{font-size: 40px;}

/*for文*/

@for $i from 10 through 40{
  .fs#{$i} {font-size: #{$i}px;}
}
/*------------------------

$mixin

------------------------*/

//section

@mixin sec-pad {
  padding: 80px 0;

}

//font-family




@mixin jp-font{
  font-family: "ryo-gothic-plusn",sans-serif;
  font-style: normal;
  font-weight: 400;
}
@mixin jp-font-b{
  font-family: "ryo-gothic-plusn",sans-serif;
  font-style: normal;
  font-weight: 700;
}
@mixin en-font{
  font-family: "azo-sans-web",sans-serif;
  font-style: normal;
  font-weight: 400;}

@mixin en-font-m{
  font-family: "azo-sans-web",sans-serif;
  font-style: normal;
  font-weight: 500;
}
@mixin en-font-b{
  font-family: "azo-sans-web",sans-serif;
  font-style: normal;
  font-weight: 700;
}
@mixin en-font-bl{
  font-family: "azo-sans-web",sans-serif;
  font-style: normal;
  font-weight: 900;
}

//font-color

@mixin font-white {
  color: #fff;
}
@mixin font-black {
  color: #333;
}
@mixin font-gray {
  color: #d3d3d3;
}

//font-size

@mixin font-basesize {
  font-size: 1.6rem;

}

//font-speace

@mixin font-speace {
  letter-spacing: 0.1em;

}

//layout

@mixin logo-layout{
  background-position: top left;
  background-repeat: no-repeat;
  white-space: nowrap
}

//img-filter-gray

@mixin img-blight-gray{
  -webkit-filter: brightness(0.6);
  -moz-filter: brightness(0.6);
  -o-filter: brightness(0.6);
  -ms-filter: brightness(0.6);
  filter: brightness(0.6);
}

@mixin img-blight-light{
  -webkit-filter: brightness(1);
  -moz-filter: brightness(1);
  -o-filter: brightness(1);
  -ms-filter: brightness(1);
  filter: brightness(1);
}


//border
@mixin bottom-line {
  display: inline-block;
  border-bottom: 5px #1d1d1d solid;
}



@mixin border-box-2 {
  border-style: solid;
  border-width: 2px;
}

@mixin border-box-4 {
  border-style: solid;
  border-width: 4px;
}
